{:source-paths ["src"]
 :builds       {:gcf {:target :node-library
                      :main gcf.core/main
                      :output-to "gcf.js"
                      :exports-var gcf.core/exports}}}
